*{
    margin: 0;
    padding: 0;
}
.fondo{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color:  rgb(57, 169, 0);
}
.machines{

position: fixed;
left: 150px;
top: 20px;
}

@font-face {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    src: url('../fonts/Bapakmu-2ODBe.otf');
    src: local(''),
        url('../fonts/Bapakmu-2ODBe.otf') format('otf'),
}
fieldset {
    background-color:white;
    width: 300px;

}

input[type="email"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
   border: none;
   border-bottom: 1px solid rgb(64,64,64, .8);
}
input[type="password"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
   border: none;
   border-bottom: 1px solid rgb(64,64,64, .8);
}
input[type="submit"] {
    margin-bottom: 20px;
    padding: 7 px;
    font-size: 1.1em;
   width: 250px;
  background-color: rgb(57, 169, 0) ;
}
